* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(#0c0336, #0a0760);
  /* background-color: #060220; */
  height: 9.7%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  color: #a21202;
}

body {
  padding-top: 8%;
}

#mobile {
  display: none;
}
#close {
  display: none;
}
.logo a img {
  width: 30%;
  height: 12vh;
  padding: 10px 0;
}
.logo a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #e8e6df;
  font-size: 15px;
  font-weight: bold;
}

.navlink ul li {
  list-style-type: none;
  display: inline;
}

.navlink ul li a,
i {
  margin-right: 25px;
  color: #ffffff;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.navlink ul li a:after {
  position: absolute;
  content: "";
  background-color: #a9e10e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.navlink ul li a:hover {
  color: #0cd319;
  text-decoration: none;
}
.navlink ul li a:hover:after {
  transition: 0.3s ease-in-out;
  width: 70%;
}

@media (max-width: 1000px) {
  #navlink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -400px;
    width: 35%;
    height: 100vh;
    background-color: #151864f1;
    padding-left: 20px;
    padding-top: 75px;
    transition: 0.5s;
  }

  #navlink.active {
    position: fixed;
    right: 0px;
    top: 0px;
  }
  #navlink li {
    margin-bottom: 15px;
  }

  #mobile i {
    font-size: 30px;
    padding-left: 30px;
    text-decoration: none;
    margin-right: 20px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  #close {
    display: initial;
    font-size: 25px;
  }
}

/* First section of home page */

#section-1 {
  /* background-color: #f8f9ed; */

  padding: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  /* border: 6px solid #034f08; */
  border-top: 0;
}

#section-1 .container .row .col {
  padding-right: 40px;
}

.image {
  align-self: flex-end;
  position: relative;
  padding-bottom: 2rem;
}
.image img {
  width: 440px;
  height: auto;
}
.image .image_overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 400px;
  width: 400px;
}
.image .image_overlay > h5 {
  color: white;
  border-radius: 1rem;
  border-bottom-right-radius: 0%;
  padding: 8px 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  left: -8rem;
  background: rgb(6, 173, 0);
}
.col-2-content .image .image_overlay > h5:nth-child(1) {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0%;
  background: rgb(6, 173, 0);
  margin-top: -2rem;
  left: 16rem;
  -webkit-animation: color-anim 8s linear infinite,
    beat-anim 0.8s linear infinite;
  animation: color-anim 8s linear infinite, beat-anim 0.8s linear infinite;
}
.image .image_overlay > h5:nth-child(2) {
  background: rgb(0, 173, 173);
  margin-top: -1.8rem;
  left: -1rem;
  -webkit-animation: color-anim 10s linear infinite,
    beat-anim 1.8s linear infinite;
  animation: color-anim 10s linear infinite, beat-anim 1.8s linear infinite;
}
.image .image_overlay > h5:nth-child(3) {
  background: rgb(0, 55, 173);
  margin-top: 2rem;
  left: -4rem;
  -webkit-animation: color-anim 10s linear infinite,
    beat-anim 1.6s linear infinite;
  animation: color-anim 10s linear infinite, beat-anim 1.6s linear infinite;
}
.image .image_overlay > h5:nth-child(4) {
  background: rgb(255, 133, 133);
  margin-top: 2rem;
  left: -9rem;
  -webkit-animation: color-anim 10s linear infinite,
    beat-anim 1.2s linear infinite;
  animation: color-anim 10s linear infinite, beat-anim 1.2s linear infinite;
}
.image .image_overlay > h5:nth-child(5) {
  background: rgb(31, 117, 214);
  margin-top: 2rem;
  left: -7rem;
  -webkit-animation: color-anim 10s linear infinite,
    beat-anim 1.2s linear infinite;
  animation: color-anim 10s linear infinite, beat-anim 1.2s linear infinite;
}

@-webkit-keyframes color-anim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes color-anim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes beat-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes beat-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.caption h2 {
  overflow: hidden;

  white-space: nowrap;
  margin: 0 auto;

  font-weight: bold;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#col-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.col-1-content {
  margin: 15px 0;
}
.col-1-content p {
  font-size: 17px;
}

.col-2-content {
  align-items: center;
  padding: 55px;
  padding-top: 0;
}

.col-1-content .btn {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(30deg, rgb(103, 254, 48), rgb(0, 139, 51));
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  margin-top: 1rem;
  overflow: hidden;
  font-size: 25px;
  margin-bottom: 20px;
}
.col-1-content .btn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -100%;
  background: rgba(255, 240, 240, 0.8);
  transform: skew(45deg);
  height: 50px;
  width: 50px;
  -webkit-animation: shine-anim 4s linear infinite;
  animation: shine-anim 4s linear infinite;
}
.col-1-content .btn:hover {
  transform: scale(1.04);
  opacity: 1;
}

@-webkit-keyframes shine-anim {
  0% {
    left: -100%;
  }
  8% {
    left: 100%;
  }
  10% {
    left: 100%;
  }
  18% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes shine-anim {
  0% {
    left: -100%;
  }
  8% {
    left: 100%;
  }
  10% {
    left: 100%;
  }
  18% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

.btn-outline-info {
  border-radius: 25px;
  color: #03063a;
  font-size: 25px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: #03063a solid 5px;
  /* background-image: linear-gradient(#eac947, white); */
}

.btn-outline-info:hover {
  background-color: #03063a;
  color: #f5f5f5;
  scale: 0.98;
  transition: 0.6s;
  border-color: #060351;
}

.caption {
  text-align: center;
  margin-top: 25px;
  padding: 20px;
  color: #4a4848;
}

/* section 2 cards section */

.cards .container .row .col-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  padding: 0;
}
#section-2 .container {
  margin: 20px 0;
  margin-bottom: 70px;
}

.cards .container .row .col-sm {
  height: 100%;
  width: 100%;
}

.cards .container .row .col-sm .card {
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px #adadac;
  margin-right: 10px;
}
.cards .card img {
  padding: 15px;
  height: 100%;
  width: 180px;
}
.cards .card-title {
  font-size: 25px;
  font-weight: bold;
  color: #0921a6;
}

.cards .card-text {
  font-size: 17px;
  color: #3d3d3f;
}

.cards .card:hover {
  background-color: #bddaeb;
}

/* third section of home page */

#section-3 {
  margin: 15px 0;
  padding: 20px 0;
  box-shadow: 2px 3px 10px 5px #b4b3b3bb;
  border-radius: 20px;
  /* background-color: #efeddf; */
  /* background-image: linear-gradient(#cee9d3, #e5e0e0); */
}

.col-sm-8 {
  display: flex;
  flex-direction: column;
}
.col-sm-4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.col-sm-8-content {
  margin: 15px 0;
  color: rgb(2, 1, 52);
}
.col-sm-12-content ul li {
  list-style-type: none;
}
.col-sm-12-content ul li span i {
  color: #444141;
  font-size: 25px;
  margin-right: 10px;
}

.col-sm-4-content button {
  margin-top: 20%;
  border-color: #db960b;
  background-color: #d9e180;
}

.col-sm-4-content button:hover {
  border-color: #e5db16;
  background-color: #db750e;
}

/* Section - 4 */
#section-4 {
  border-top: 0;
}
#section-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 55px 0;
  box-shadow: 3px 8px 8px #b8b6b6bb;
  border-radius: 30px;
  border-left: 2px solid #b8b6b6bb;
}

#section-4 .container img {
  height: 60vh;
  width: 90%;
}
.section-4-content {
  margin: 25px 0;
}

/* program title */

#program .container {
  text-align: center;
  color: #170360;
  font-size: 58px;
  font-weight: bold;
}

/* section-5 programs section */
#section-5 .container .row {
  margin: 80px 0;
}

#section-5 {
  margin-top: 30px;
  margin-bottom: 100px;
}
.card-footer h6 {
  font-size: 18px;
  text-align: center;
  background-image: linear-gradient(#dfad2e, #b08609);
  margin-bottom: 0;
  padding: 10px 20px;
  color: #ffffff;
}
.card-footer {
  padding: 0;
}
.card-footer h6:hover {
  background-image: radial-gradient(#894f04, #d1c515);
  border-radius: 10px;
}

.card-group .card {
  box-shadow: none;
  box-shadow: 2px 3px 10px 5px #e1dedebb;
  margin-right: 25px;
}

.card-group .card img {
  height: 250px;
  background-color: #ffffff;
}
.card-group .card .card-body {
  background-color: #d3e1f0;
}

.card-group .card .card-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-content div {
  margin-top: 10px;
}
.description {
  margin-left: 22px;
  padding-left: 5px;
  border-left: 1px solid #a3a0a0;
  width: 60%;
}
.description ul li {
  color: #01031a;
  font-size: 14px;
}
.description ul li span i {
  color: #000000;
  font-size: 18px;
  margin-right: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
}
.icons i {
  color: #2d2c33;
  font-size: 25px;
}

.feature {
  font-size: 15px;
  color: #413c3c;
}

.card-group .card:hover {
  scale: none;
  background-image: none;
  scale: 1.02;
  transition: 0.6s;
}

.card-group .card .card-body:hover {
  scale: none;
  background-image: linear-gradient(#db9146, #eddcb9);
}

/* testimonial Section */

.testimonial {
  padding: 2rem 0rem;
}
.testimonial h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  color: rgb(216, 21, 69);
  font-size: 2rem;
}
.testimonial .testimonial_wrapper {
  max-width: 940px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  overflow-x: scroll;
}
.testimonial .testimonial_wrapper::-webkit-scrollbar {
  display: none;
}
.testimonial .testimonial_wrapper .testimonial_item {
  display: flex;
  margin-right: 2rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  width: 540px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.testimonial .testimonial_wrapper .testimonial_item .testimonial_image {
  margin: 0rem 1rem;
  height: 70px;
  width: 70px;
  background-color: rgb(82, 82, 82);
  border-radius: 50%;
}
.testimonial .testimonial_wrapper .testimonial_item .testimonial_content {
  position: relative;
  width: 400px;
  padding: 1rem;
}
.testimonial
  .testimonial_wrapper
  .testimonial_item
  .testimonial_content::before {
  content: "";
  height: 100px;
  width: 2px;
  position: absolute;
  top: 50%;
  border-radius: 2px;
  transform: translateY(-50%);
  left: 0%;
  opacity: 0.2;
  background-color: black;
}
.testimonial .testimonial_wrapper .testimonial_item .testimonial_content h4 {
  color: rgb(216, 21, 69);
  font-size: 14px;
}
.testimonial .testimonial_wrapper .testimonial_item .testimonial_content p {
  color: rgb(66, 90, 85);
  font-size: 12px;
  padding: 4px;
}

/* Footer Section */

.about {
  font-size: 13px;
  color: #fff;
}

.text-warning {
  font-size: 20px;
  text-decoration: none;
}

#media li {
  display: inline;
}

.link {
  font-size: 16px;
}
#media .link {
  font-size: 25px;
}

.facebook:hover {
  color: #0c189e;
}
.instagram:hover {
  color: #b70b2e;
}
.linkedin:hover {
  color: #0762c9;
}

.copyright {
  font-size: 13px;
  text-align: center;
  color: aliceblue;
}
.copyright a {
  font-size: 13px;
  margin-top: 0;
}
